/*------ import ------*/
    @import url("icons/icons.css");
    @import url("urls/urls.css");
/*------ import ------*/
.newsItem footer .articleFooterUrlsContainer li
{
    display: inline-block;
    margin-left: 15px;
}
.newsItem footer .articleFooterUrlsContainer li:last-child
{
    margin-left: unset;

}
